<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Orientering Manager - navbar</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600"> </link>
    <link href="../assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="../assets/css/form-elements.css" th:href="@{/assets/css/form-elements.css}"> </link>
    <link rel="stylesheet" href="../assets/css/style.css" th:href="@{/assets/css/style.css}"> </link>
    <link rel="stylesheet" href="../assets/css/table.css" th:href="@{/assets/css/table.css}"> </link>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-default  navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Orientering manager</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Zarejestruj się</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
        </ul>
    </div>
</div>
</body>
</html>