<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin index</title>
    </head>
    <body>
    <label>Ilość wszystkich obecnych zawodników <label th:text="${n}"></label></label>
    <table>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Rok urodzenia</th>
        </tr>
        <tr th:each="comp : ${competitors}">
            <td th:text="${comp.name}"/>
            <td th:text="${comp.surname}"/>
            <td th:text="${comp.gender}"/>
            <td th:text="${comp.birthYear}"/>
            <form th:action="@{/admin/deleteuser}" method="POST" th:object="${competitorForm}">
                <input  th:attr="value = ${comp.name}" th:field="*{competitor.name}"/>
                <input th:name="competitor.surname" th:id="competitor.surname" th:value="${comp.surname}"/>
                <input  th:value="${comp.gender}" th:field="*{competitor.gender}"/>
                <input  th:value="${comp.birthYear}" th:field="*{competitor.birthYear}"/>
                <td>
                    <input type="submit" class="btn" value= "Edytuj" action="edit" />
                </td>
                <td>

                    <input type="submit" class="btn" value= "Usun" action="delete" />
                </td>
            </form>
        </tr>
    </table>
    </body>
</html>