<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin index</title>
    </head>
    <body>
    <label>Ilość wszystkich obecnych zawodników <label th:text="${n}"></label></label>
    <table>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Rok urodzenia</th>
        </tr>
        <tr th:each="comp : ${competitors}">
            <td th:text="${comp.name}"/>
            <td th:text="${comp.surname}"/>
            <td th:text="${comp.gender}"/>
            <td th:text="${comp.birthYear}"/>
            <td>
                <form th:action="@{/admin/edituser}" method="POST" th:object="${competitorForm}">
                    <input type="submit" class="btn" value= "Edytuj" />
                </form>
            </td>
            <td>
                <form th:action="@{/admin/deleteuser}" method="POST" >
                    <input type="submit" class="btn" value= "Usun" />
                </form>
            </td>
        </tr>
    </table>
    </body>
</html>