<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin index</title>
    </head>
    <body>
    <label>Ilość wszystkich obecnych zawodników <label th:text="${n}"></label></label>
    <table>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Rok urodzenia</th>
        </tr>
        <tr th:each="comp : ${competitors}">
            <td th:text="${comp.name}"/>
            <td th:text="${comp.surname}"/>
            <td th:text="${comp.gender}"/>
            <td th:text="${comp.birthYear}"/>
            <form th:action="@{/admin}" method="POST" th:object="${competitorForm}">
                <input type="hidden" th:name="competitor.id" th:id="competitor.id" th:value="${comp.id}"/>
                <input type="hidden" th:name="competitor.name" th:id="competitor.name" th:value="${comp.name}"/>
                <input type="hidden" th:name="competitor.surname" th:id="competitor.surname" th:value="${comp.surname}"/>
                <input type="hidden" th:name="competitor.licenceNumber" th:id="competitor.licenceNumber" th:value="${comp.licenceNumber}"/>
                <input type="hidden" th:name="competitor.chipNumber" th:id="competitor.chipNumber" th:value="${comp.chipNumber}"/>
                <input type="hidden" th:name="competitor.clubId" th:id="competitor.clubId" th:value="${comp.clubId}"/>
                <input type="hidden" th:name="competitor.birthYear" th:id="competitor.birthYear" th:value="${comp.birthYear}"/>
                <input type="hidden" th:name="competitor.gender" th:id="competitor.gender" th:value="${comp.gender}"/>
                <input type="hidden" th:name="competitor.category" th:id="competitor.category" th:value="${comp.category}"/>
                <td>
                    <input type="submit" class="btn" name="action" value="edit" />
                </td>
                <td>
                    <input type="submit" class="btn" name="action" value="delete" />
                </td>
            </form>
        </tr>
    </table>
    </body>
</html>