<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Orientering Manager - logowanie</title>

        <!-- <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}" /> -->

        <!-- CSS -->
        <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600"> </link>
        <link rel="stylesheet" type="text/css"  href="/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css"  href="/assets/css/form-elements.css"> </link>
        <link rel="stylesheet" type="text/css"  href="/assets/css/style.css"> </link>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons
        <link rel="shortcut icon" href="assets/ico/favicon.png"> </link>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"> </link>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"> </link>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"> </link>
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> </link>
    -->
    </head>

    <body>

    <div th:replace="fragments/header :: header">
        &nbsp;
    </div>

		<!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Orientering Manager</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                    			<h3>Logowanie</h3>
                        		<p>Podaj dane konieczne do logowania</p>
                            </div>
                            <div class="form-bottom contact-form">
			                    <form th:action="@{/login}" method="POST" th:object="${loginForm}">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="login-username">Login</label>
                                        <div th:if="${errorString}" class="form-group">
                                            <p  class="input-error" th:text = "${errorString}" > </p>
                                        </div>
			                        	<input type="text" name="email" placeholder="Login" class="login-email form-control" id="user.email" th:field="*{user.email}"/>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="contact-subject">Hasło</label>
			                        	<input type="password" name="password" placeholder="Hasło" class="login-password form-control" id="user.password" th:field="*{user.password}" />
			                        </div>
			                        <input type="submit" class="btn" value= "Zaloguj się" />
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.backstretch.min.js"></script>
        <script src="/assets/js/scripts/login.js"></script>

        <!--[if lt IE 10]>
            <script src="/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
